@import "tailwindcss";

.restaurant-header {
    background-color: #FABF0D;
}

.promotion-container {
    background-color: #AF1D1D;
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.explore-button {
    border-radius: 15px;
    background-color: #FABF0D;
    color: black;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    width: 150px;
}

.explore-button:hover {
    background-color: #e0a00d;
}

.product-card {
    border-radius: 15px;
    background-color: #FEFEFE;
    cursor: pointer;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.add-to-cart-button {
    background-color: #FABF0D;
    color: black;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #e0a00d;
}